---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=5&include_entities=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u2bNb56gLiAVvcL0XDpKc3fUt", oauth_nonce="a0a3c53d357365513fda6bbcedb18350",
        oauth_signature="TbsjF%2F%2BnI6CzbQXMQ3SsWM59F8M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1593534237", oauth_token="1276432922761986048-cDs7uskLwpxB0IdV2sIGGe1qHNaoqq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 30 Jun 2020 16:23:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a2f640553fbfee5670e38fe020c25a86
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1593534269'
      X-Response-Time:
      - '144'
      X-Transaction:
      - 005f6ee400e1c292
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jun 30 15:46:10 +0000 2020","id":1277991829158481924,"id_str":"1277991829158481924","text":"When
        an asteroid or comet comes close to Earth we call it a near-Earth object.
        But how close is close? How do we ke\u2026 https:\/\/t.co\/iOaUMOyYZ9","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/iOaUMOyYZ9","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1277991829158481924","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/www.sprinklr.com\" rel=\"nofollow\"\u003eSprinklr\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":11348282,"id_str":"11348282","name":"NASA","screen_name":"NASA","location":"","description":"Explore
        the universe and our home planet with NASA \ud83c\udf0e We usually post in
        EDT.","url":"https:\/\/t.co\/HMJJbimQpV","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/HMJJbimQpV","expanded_url":"http:\/\/www.nasa.gov\/","display_url":"nasa.gov","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":38451732,"friends_count":220,"listed_count":92228,"created_at":"Wed
        Dec 19 20:20:32 +0000 2007","favourites_count":11141,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":61162,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1091070803184177153\/TI2qItoi_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1091070803184177153\/TI2qItoi_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/11348282\/1592851260","profile_link_color":"205BA7","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F3F2F2","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":296,"favorite_count":1389,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Tue
        Jun 30 15:40:03 +0000 2020","id":1277990289869848579,"id_str":"1277990289869848579","text":"Installing
        a crucial network of weather sensors on Everest demanded months of preparation\u2014but
        could provide a \"new\u2026 https:\/\/t.co\/YdFyDK9KtA","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/YdFyDK9KtA","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/12779902898698485[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=5&include_entities=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="u2bNb56gLiAVvcL0XDpKc3fUt", oauth_nonce="386d911152dffb963d778c317385151a",
        oauth_signature="NfIRTy79R%2FKCOXVKl%2Ben0NcEEKw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1593538068", oauth_token="1276432922761986048-cDs7uskLwpxB0IdV2sIGGe1qHNaoqq",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - d86d9c63dee27cd1fb2cec26dad3c358
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1593538166'
      X-Response-Time:
      - '112'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Tue, 30 Jun 2020 17:27:49 GMT
[...]
